<!-->form class = "form-signin" #loginForm = "ngForm" (ngSubmit) = "login(loginForm)"> 
    <div class = "container-fluid">
        <h2 class = "form-signin-heading">Login</h2>
        <div *ngIf = "invalidLogin" class = "alert alert-danger">Invalid username or password.</div>
        <br/> 
        <label for = "username" class = "sr-only">Login</label>
        <input type = "email" id = "username" name = "username" ngModel class = "form-control" placeholder = "User name" required>
        <label for = "password" class = "sr-only">Password</label>
        <input type = "password" id = "password" name = "password" ngModel class = "form-control" placeholder ="Password" required>
        <br/> 
        <button class = "btn btn-lg btn-primary btn-block" type = "submit">Sign in </button>
    </div>
</form> -->
<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Login</h4>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
        </div>
    </div>
</div>