<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Metal</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-light" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/counter']"
              >Counter</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/artist']"
              >View Artists</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/fetch-data']"
              >Genres</a
            >
          </li>
         <!--  <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" *ngIf= "!isAuthenticated()" [routerLink]="['/register']">
              Register
            </a>
           
  
          </li> -->
        
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-light" *ngIf= "!isAuthenticated()" [routerLink]="['/Login']">
            Login
          </a>
         

        </li>
        
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-light" *ngIf= "isAuthenticated()" (click)="onLogout()" [routerLink]="['/']">
            Logout
          </a>
         

        </li>
        
      </ul>
      
      </div>
    </div>
  </nav>
</header>
