/* You can add global styles to this file, and also import other style files */

table {
    width: 100%;
  }
  
  tr.genre-detail-row {
    height: 0;
  }
  
  tr.genre-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.genre-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .genre-element-row td {
    border-bottom-width: 0;
  }
  
  .genre-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .genre-element-diagram {
    min-width: 160px;
    border: 2px solid rgb(0, 0, 0);
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 150px;
  }
  
  .genre-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .genre-element-description {
    padding: 16px;
  }
  
  .genre-element-description-attribution {
    opacity: 0.5;
  }
  .dark-row{
    background-color: #b2b2b2;
  }
  @import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
